# Godot 4+ specific ignores
.godot/
*.import
*.import.backup
/android/

# Build outputs
/builds/
/export/

# macOS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

/test/
.c*

.s*

.me*
/addons/

.go*

/tmp/